@model Manager.Model.Models.KhachHangModel
<style>
    @@media(min-width: 768px) {
        .modal-dialog {
            width: 800px;
            margin: 30px auto;
        }
    }

    .has-feedback .form-control {
        padding-right: 20px;
    }
</style>
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>         
                <h1 style="color:red">Tạo mới đối tác VIP</h1>         
        </div>
        <div class="modal-body">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Họ tên
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <input type="hidden" id="IDtxt" class="form-control has-feedback-right" name="ID" value="">
                                                    <input type="text" id="Nametxt" class="form-control has-feedback-right" name="name" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Chức vụ
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <input type="text" id="Chucvutxt" class="form-control has-feedback-right" name="Chucvu" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Hãng/Tên đại lý
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <input type="text" id="Hangtxt" class="form-control has-feedback-right" name="hang" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Miền
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="xdisplay_inputx form-group has-feedback">
                                                    <select id="Mientxt" class="form-control has-feedback-right" name="mien">
                                                        <option value="Miền Bắc">Miền Bắc</option>
                                                        <option value="Miền Trung">Miền Trung</option>
                                                        <option value="Miền Nam">Miền Nam</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Nhóm
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <select id="Nhomtxt" class="form-control has-feedback-right" name="nhom">
                                                        <option value="Đại lý">Đại lý</option>
                                                        <option value="Hãng">Hãng</option>
                                                        <option value="Khác">Khác</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Nhân viên KD
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="xdisplay_inputx form-group has-feedback">
                                                    <select id="NVKDtxt" class="form-control has-feedback-right" name="nvkd">
                                                        <option value="">Chọn nhân viên</option>
                                                        @foreach (var nv in ViewBag.DSnhanvienkinhdoanh)
                                                        {
                                                            <option value="@nv.MaNV">@nv.Ten</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Ngày sinh
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback" id="">
                                                    <input type="text" class="form-control has-feedback-right" id="NgaySinh" name="birthday" value="">
                                                    <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    NGT
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <input type="text" id="NGTtxt" class="form-control has-feedback-right" name="NGT" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Số điện thoại
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <input type="text" id="Phonetxt" class="form-control has-feedback-right" name="phone" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Địa chỉ
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <input type="text" id="Addresstxt" class="form-control has-feedback-right" name="address" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Bỏ chăm sóc
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <input type="checkbox" style="border: 1px solid #ccc;width:20px; height:20px;" id="block" name="block" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Lý do
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <input type="text" class="form-control has-feedback-right" name="note" id="Notetxt" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align">
                                    Quà tặng
                                </label>
                                <div class="col-md-8 col-sm-6 col-xs-12 ">
                                    <fieldset class="col-xs-12" style="padding:0px">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback" id="">
                                                    <input type="text" class="form-control has-feedback-right" id="NgayTang" name="ngaytang">
                                                    <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                <fieldset class="col-xs-12">
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class=" xdisplay_inputx form-group has-feedback">
                                                <textarea rows="4" name="gift" id="Gifttxt" class="form-control has-feedback-right"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="item form-group col-md-12 col-sm-12 col-xs-12" style="text-align:right">
                                <button type="submit" onclick="myFunction()" class="btn btn-primary" name="save" id="save" value="create">Lưu</button>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>
</div><!-- jQuery -->

<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/vendors/moment/min/moment.min.js"></script>
<script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script>
    $("#NgaySinh").daterangepicker({
        singleDatePicker: !0,
        autoUpdateInput: false,//làm rỗng
        locale: {
            format: 'DD/MM/YYYY',
        },
        singleClasses: "picker_5"
    }, function (a, b, c) {
        console.log(a.toISOString(), b.toISOString(), c)
    })

    $('#NgaySinh').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY')); //lấy dữ liệu khi chọn
    })


    $("#NgayTang").daterangepicker({
        singleDatePicker: !0,
        autoUpdateInput: false,//làm rỗng
        locale: {
            format: 'DD/MM/YYYY',
        },
        singleClasses: "picker_5"
    }, function (a, b, c) {
        console.log(a.toISOString(), b.toISOString(), c)
    })

    $('#NgayTang').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY')); //lấy dữ liệu khi chọn
    })

    $("#save").click(function () {
     
        var name = document.getElementById("Nametxt").value;
        var Chucvu = document.getElementById("Chucvutxt").value;
        var hang = document.getElementById("Hangtxt").value;
        var mien = document.getElementById("Mientxt").value;
        var ngt = document.getElementById("NGTtxt").value;
        var phone = document.getElementById("Phonetxt").value;
        var birthday = document.getElementById("single_cal5").value;
        var address = document.getElementById("Addresstxt").value;
        var block = document.getElementById("block").checked;
        var ngaytang = document.getElementById("single_cal2").value;
        var gift = document.getElementById("Gifttxt").value;
        var note = document.getElementById("Notetxt").value;
        var nvkd = document.getElementById("NVKDtxt").value;
        var nhom = document.getElementById("Nhomtxt").value;

        // Kiểm tra các trường không được để trống
        if (name === "") {
            alert("Bạn phải nhập tên của đối tác VIP.");
            return;
        }
        if (Chucvu === "") {
            alert("Bạn phải nhập chức vụ.");
            return;
        }
        if (hang === "") {
            alert("Bạn phải nhập hạng.");
            return;
        }
        if (mien === "") {
            alert("Bạn phải chọn miền.");
            return;
        }
        if (birthday === "") {
            alert("Bạn phải nhập ngày sinh.");
            return;
        }
        if (phone === "") {
            alert("Bạn phải nhập số điện thoại.");
            return;
        }

       
        $.ajax({
            type: "POST",
            url: "/@AreaNameConst.AREA_Home/KhachHang/AddKhachHangVip",
            data: {
               
                name: name,
                Chucvu: Chucvu,
                hang: hang,
                mien: mien,
                NGT: ngt,
                phone: phone,
                birthday: birthday,
                address: address,
                block: block,
                ngaytang: ngaytang,
                gift: gift,
                note: note,
                nhom: nhom,
                nvkd: nvkd
            },
            success: function (response) {
                if (response) {
                    alert("Bạn đã tạo mới thành công");
                    location.reload();
                } else {
                    alert("Tạo mới thất bại. Vui lòng thử lại.");
                }
            },
            failure: function (response) {
                alert("Có lỗi xảy ra: " + response.responseText);
            },
            error: function (response) {
                alert("Có lỗi xảy ra: " + response.responseText);
            }
        });
    });


</script>