@model Manager.Model.Models.PaginationBase.PaginationBase<Manager.Model.Models.ProductsModel>

<table id="gridHotel" class="table table-striped jambo_table bulk_action">
    <thead>
        <tr>
            <th style="text-align:center;"></th>
            <th style="text-align:center;"></th>
            <th style="text-align: center;">STT</th>
            <th style="text-align: center;">Code</th>
            <th>Tên khách sạn</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_HotelListPartial", Model)
    </tbody>
</table>
@* Phân trang *@
<nav aria-label="Page navigation">
    @await Html.PartialAsync("_NavPageHotelListPartial", Model)
</nav>