

<style>

</style>
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div style="color:red; font-size:21px;"> Bạn không có quyền truy cập danh mục này</div>
           
        </div>
        
    </div>
</div>




