
@{
    ViewData["Title"] = "TinhNangMoi";
    Layout = "~/Views/Shared/MasterLayout_ThongBao.cshtml";
}

<title>Tính năng mới</title>
<style>
    .container-login100 {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img-responsive {
        border-radius: 7px;
        margin-bottom: 30px;
    }

    .logo {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .container-login100 {
        background-image: url('/images/2.png');
    }

    .container-content {
        background: #fff;
        border-radius: 5px;
        padding: 0px;
        text-align: justify;
    }

    .content-iframe {
        margin: auto;
        width: 100%;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        font-weight: bold;
    }

    .nav > li.nav-item > a:focus, .nav > li.nav-item > a:hover {
        color: #000 !important;
    }

    .content-iframe iframe {
        width: 100%;
        border-radius: 7px;
    }

    .tab-content > .active {
        opacity: 1;
    }

    .btn-BSP {
        color: #fff;
        background-color: #6c0678;
        border-color: #6c0678;
    }

    .nav > li > a {
        padding: 8px 13px 8px !important;
    }

    @@media (max-width: 768px) {
        .logo {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 30px;
        }

        .container-login100 {
            background-image: url('/images/5.jpg');
            background-position: inherit;
        }

        .content-iframe {
            width: 100%;
        }
    }

    @@media (min-width: 768px) {
        .modal-dialog {
            width: 100%;
            margin: auto;
        }
    }
</style>
<div class="limiter">
    <div class="container-login100" style="">

        <div class="content-iframe">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom:10px;">
                        @*<li class="nav-item active">
                            <a class="btn btn-warning" id="NV-tab" data-toggle="tab" href="#NV" role="tab" aria-controls="NV" aria-selected="true">Tính năng mới</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" id="VNA-tab" data-toggle="tab" href="#VNA" role="tab" aria-controls="VNA" aria-selected="false">Mẹo công nghệ</a>
                        </li>*@
                        <li class="nav-item active">
                            <a class="btn btn-primary" id="Hang-tab" data-toggle="tab" href="#Hang" role="tab" aria-controls="Hang" aria-selected="false">Tin từ hãng</a>
                        </li>
                        <li class="nav-item ">
                            <a class="btn btn-primary" id="Manager-tab" data-toggle="tab" href="#Manager" role="tab" aria-controls="Manager" aria-selected="true">Chương trình Manager</a>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <div class="tab-content popup" id="myTabContent">
                            @*<div class="tab-pane fade  active" id="NV" role="tabpanel" aria-labelledby="NV-tab">
                                <div class="row">
                                    <div class="col-xs-12 container-content">
                                        <iframe src="https://docs.google.com/document/d/e/2PACX-1vRKcMaibw1NZ4SWVXqBMuOHbCMJatnCzis_XEYX48DMhSEG0Z4YcCrUi---L_bYDJ3lJSRooJ2jHJ6F/pub?embedded=true"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="VNA" role="tabpanel" aria-labelledby="VNA-tab">
                                <div class="row">
                                    <div class="col-xs-12 container-content">
                                        <iframe src="https://docs.google.com/document/u/0/d/1AJ41ZuJCQSBoEgIh3Lb34zlEqwerFttnTaxE1HP4z54/mobilebasic"></iframe>
                                    </div>
                                </div>
                            </div>*@
                            <div class="tab-pane fade active" id="Hang" role="tabpanel" aria-labelledby="Hang-tab">
                                <div class="row">
                                    <div class="col-xs-12 container-content">
                                      @*   <iframe id="IF2" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTSEmku_LgUr84_cRh3hHYo03MAnVFVgBnzM9L9EE1HqGVYUdkLcCM2DBSVq0HKfFCFhUCX_UkRTsP3/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>       *@
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="Manager" role="tabpanel" aria-labelledby="Manager-tab">
                                <div class="row">
                                    <div class="col-xs-12 container-content">
                  @*                       <iframe id="IF1" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRSH_JgIq09pcQFK9MuEJwLnEJBneVDlBg_wGzNYdbzPGOhsrl9QYvfrK3uTPUNYwPVO4EHwpLuO-YG/pubhtml?widget=true&amp;headers=false"></iframe> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var w = window.innerWidth;
    var h = window.innerHeight;

    document.getElementById("IF1").style.height = h - 160 + "px";
    document.getElementById("IF2").style.height = h - 160 + "px";
</script>