@model Manager.Model.Models.PaginationBase.PaginationBase<Manager.Model.Models.LandingPage.CustomerRequest>
@{
    ViewData["Title"] = "Danh sách yêu cầu";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<title>@ViewData["Title"]</title>
<style>
    table tr td {
        vertical-align: middle !important;
    }

    .collapse.show {
        display: table-row !important;
    }

    .clickable-row {
        cursor: pointer;
    }


    .switch-group {
        display: inline-block;
    }

    #gridHotel.table > tbody > tr > td {
        vertical-align: middle;
    }
    /* Ẩn checkbox mặc định */
    .form-check-input[type="checkbox"] {
        display: none;
    }

    /* Tạo giao diện cho nút switch */
    .switch-label {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 25px;
        background-color: #ccc;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.2s;
        margin-bottom: -3px;
    }

    /* Tạo giao diện cho nút switch khi checked */
    .form-check-input[type="checkbox"]:checked + .switch-label {
        background-color: #66bb6a;
    }

    .switch-label:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 21px;
        height: 21px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.2s;
    }

    .form-check-input[type="checkbox"]:checked + .switch-label:before {
        transform: translateX(25px);
    }

</style>

@Html.Partial("_EnvietOverlay")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <form action="@Url.Action("GetListCustomerRequestPagination", "LandingPage")" method="post" id="searchForm" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Email</label>
                                <input type="text" name="Email" placeholder="VD: it07@@enviet-group.com, nguyenvana@@gmail.com" class="form-control" id="Email" />
                            </div>

                            <div class="col-md-3">
                                <label>Trạng thái</label>
                                <select name="IsResolvedValue" id="IsResolvedValue" class="form-control">
                                    <option value="999">Tất cả</option>
                                    <option value="1">Đã xử lý</option>
                                    <option value="0">Chưa xử lý</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Từ ngày</label>
                                <input type="date" name="fromDate" class="form-control" id="fromDate" />
                            </div>
                            <div class="col-md-3">
                                <label>Đến ngày</label>
                                <input type="date" name="toDate" class="form-control" id="toDate" />
                            </div>

                            <div class="col-md-3" style="margin-top: 24px;">
                                <input type="submit" class="btn btn-primary" value="Tìm kiếm" id="btnSearch" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div style="margin: 10px 0px;">
                        <label style="margin-right: 5px;">Hiển thị</label>
                        <select id="Page_Size" style="padding:6px; border-radius:4px;">
                            <option style="padding:6px; border-radius:4px;" value="5">5</option>
                            <option value="25">25</option>
                            <option selected value="50">50</option>
                        </select>
                        <label style="margin-left: 5px;">dòng</label>
                    </div>


                    <div class="table-responsive" id="table_Pagination">

                        @await Html.PartialAsync("_TableCustomerRequestPaginationPatial", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="openPopup" role="dialog">
</div>

<script src="~/js/landingpage/customerrequest/customerrequest.js"></script>
