<style>
    @@media(min-width: 768px) {
        .modal-dialog {
            width: 800px;
            margin: 30px auto;
        }
    }

    .modal-body img {
        width: 100% !important;
        height: auto !important;
    }

    .modal-header {
        padding: 6px 15px;
        border-bottom: none;
    }
</style>
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 style="color:red">Tạo mới sân bay</h1>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("SaveCreateAirport", "Data", new { i = 9 }, FormMethod.Post))
            {
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">Sân bay</label>
                            <input class="form-control" name="Name" placeholder="">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">&nbsp;</label>
                            <div>
                                <button type="submit" class="btn btn-primary" value="searchBtn">Tạo mới</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
