@model SubjectModel
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<title>@ViewBag.Title</title>
<style type="text/css">
    .resize div {
        width: unset !important;
    }
</style>
<div class="row">
    <div class="x_panel">
        <div class="x_content">
            <div id="resize_image" class="resize">
                <div>@Html.Raw(Model.subject_content)</div>
            </div>
        </div>
    </div>
</div>