<style>
    @@media(min-width: 768px) {
        .modal-dialog {
            width: 1000px;
            margin: 30px auto;
        }
    }

    .modal-body img {
        width: 100% !important;
        height: auto !important;
    }

    .modal-header {
        padding: 6px 15px;
        border-bottom: none;
    }
</style>
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style=" background: #2A3F54;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 style="color: #FFF; font-size: 16px;">CreateAirportCode</h1>
        </div>
        <div class="modal-body" style="border-radius:8px; background-color:#fff;">
         
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <label for="" class="col-sm-12 control-label">AirportCode</label>
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control" id="AirportCode" name="AirportCode" placeholder="AirportCode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="" class="col-sm-12 control-label">Latitude</label>
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control" id="Latitude" value="0" name="Latitude" placeholder="Latitude">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="" class="col-sm-12 control-label">Longitude</label>
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" id="Longitude" value="0" name="Longitude" placeholder="Latitude">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="" class="col-sm-12 control-label">TimeZoneOffset</label>
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control" id="TimeZoneOffset" name="TimeZoneOffset" placeholder="TimeZoneOffset">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="" class="col-sm-12 control-label">IataCode</label>
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control" id="IataCode" name="IataCode" placeholder="IataCode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <label for="" class="col-sm-12 control-label">CityCode</label>
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control" id="CityCode" name="CityCode" placeholder="CityCode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="" class="col-sm-12 control-label">CountryCode</label>
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control" id="CountryCode" name="CountryCode" placeholder="CountryCode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="" class="col-sm-12 control-label">RegionCode</label>
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control" id="RegionCode" name="RegionCode" placeholder="RegionCode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="" class="col-sm-12 control-label">Description</label>
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control" id="Description" name="Description" placeholder="Description">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
               
                <div id="Details">
                    <div class="row" id="Detail_0">
                        <div class="col-sm-2">
                            <div class="item form-group">
                            <input type="text" placeholder="LocaleId" id="LocaleId0" asp-for="LocaleId0" name="LocaleId0" class="form-control ">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <input type="text" placeholder="AirportName" id="AirportName0" asp-for="AirportName0" name="AirportName0" class="form-control ">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <input type="text" placeholder="Description" id="Description0" asp-for="Description0" name="Description0" class="form-control ">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <input type="text" placeholder="CityName" id="CityName0" asp-for="CityName0" name="CityName0" class="form-control ">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <input type="text" placeholder="CountryName" id="CountryName0" asp-for="CountryName0" name="CountryName0" class="form-control ">
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-6">
                            <div class="item form-group">
                                <input class="btn btn-primary" onclick="ThemDong(this);" type="button" value="+" />
                            </div>
                        </div>
                    </div>
                </div>
                
              
                <div class="row">
                    <div class="col-sm-12" style="text-align:right;">
                        <div class="control-group">
                            <div class="controls">
                                <div class=" xdisplay_inputx form-group has-feedback">
                              
                                    <button type="button" id="Save"  class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
        </div>
    </div>
</div>
<script src="~/js/kythuat/airportcode.js"></script>