.modal-dialog {
    max-width: 1000px !important; 
    margin: 1.75rem auto;
}
/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
.table-responsive::-webkit-scrollbar {
    width: 4px; /* Chiều rộng của thanh cuộn dọc */
    height: 4px; /* Chiều cao của thanh cuộn ngang */
}

.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của track */
    border-radius: 8px; /* Bo tròn góc của track */
}

.table-responsive::-webkit-scrollbar-thumb {
    background: orange; /* Màu của thanh cuộn */
    border-radius: 8px; /* Bo tròn góc của thanh cuộn */
}

    .table-responsive::-webkit-scrollbar-thumb:hover {
        background: #e69500; /* Màu khi hover của thanh cuộn */
    }


.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
   
    table-layout: auto; /* Điều này sẽ giúp các ô bảng tự động điều chỉnh kích thước dựa trên nội dung */
}

.action-group {
    float: right;
}
.x_panel {
    width: 100%;
    overflow: hidden;
}

.x_content {
    overflow-x: auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

th, td {
    white-space: nowrap;
    text-align: center;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .modal-header .close {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 10px; /* Adjust as necessary */
        right: 10px; /* Adjust as necessary */
    }

.modal-title {
    flex-grow: 1;
    text-align: left;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 1000px;
        margin: 30px auto;
    }
}
