<style>
    .contain-main-button{
        position:fixed;
        right: 0;
        top:300px;
    }
    .contain-button a {
        width: 50px;
        height: 50px;
        border: 0px;
        margin: 0px;
        border-radius: 0;
        font-size: 12px;
        padding: 9px 3px;
    }
</style>

<div class="contain-main-button">
    <div class="contain-button">
        <a href="https://hr.tripdata.vn/MenuArea/Menu/CSKH?&i=7" class="btn btn-danger">
            Quy<br />định
        </a>
    </div>
    <div class="contain-button">
        <a href="https://hr.tripdata.vn/MenuArea/Menu/NghiepVu?&i=7" class="btn btn-warning">
            Nghiệp<br />vụ
        </a>
    </div>
    <div class="contain-button">
        <a href="https://hr.tripdata.vn/MenuArea/Menu/KhenThuong_KyLuat?&i=7" class="btn btn-primary">
            Thưởng<br />Phạt
        </a>
    </div>
    @*<div class="contain-button">
        <a href="/Menu/iframe" class="btn btn-primary">
           Iframe
        </a>
    </div>*@
    @*<div class="contain-button">
            <a href="https://hr.tripdata.vn/Content/ViewContent?&subject_id=145&i=7" class="btn btn-info">
                Kỷ<br />luật
            </a>
        </div>*@
</div>