@{

}


<div class="context">
    <div class="ui secondary menu" id="tab_carbooking" style="display:none">
        <a class="item active" data-tab="pending">Danh sách đặt xe</a>
    </div>

    <div class="ui tab segment active" data-tab="pending">
        <div class="table-container" id="table-pending">
            @await Html.PartialAsync("_Partial_Data_Booking_Pending")
        </div>
    </div>

</div>


























