<div class="sidebar-footer hidden-small">
    @*<a data-toggle="tooltip" data-placement="top" title="Thông tin" href="~/ThongTinDaiLy/ThongTinCaNhan">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>*@
    @*<a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>*@
    @*<a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
    <a data-toggle="tooltip" data-placement="top" title="Đăng xuất" onclick="logOut()">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>*@
</div>

<script>
    function logOut() {
        window.location.replace("../Login/LogOut");
    }
</script>
