


<!DOCTYPE html>


<html lang="vi">
<head>
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap -->



    <title>Document</title>

    <link href="~/MyCSS.css" rel="stylesheet" />
    <link href="~/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/vendors/bootstrap/dist/js/bootstrap.js"></script>
</head>


<body>
 
    <div class="" style="width:100%!important;">
        <div class="bg-img"></div>
        @RenderBody()

    </div>

</body>
</html>


